name: Linux Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        lfs: true
        submodules: recursive
    - name: Configure dependencies
      run: |
          sudo apt-get update
          sudo apt-get install build-essential pkg-config libx11-dev libxcursor-dev \
            libxinerama-dev libgl1-mesa-dev libglu-dev libasound2-dev libpulse-dev libudev-dev libxi-dev libxrandr-dev yasm libcurl-dev

    - name: Build
      run: |
          mkdir build
          cd build
          cmake ..
          make

        
    - name: Upload Artifact
      uses: actions/upload-artifact@v1
      with:
        name: linux
        path: oftoast2-gdnative/project/gdnative/linuxbsd/libgddl.so
        

